<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode == 1">Vizualizar</h1>
                    <h1 *ngIf="mode == 2">Crear</h1>
                    <h1 *ngIf="mode == 3">actualizar</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row">
                                <div class="col-4">
                                    Nombre:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="plan.nombre" [disabled]="mode == 1"
                                        formControlName="nombre">
                                    <div
                                        *ngIf="getTheFormGroup.nombre.errors && (getTheFormGroup.nombre.dirty || getTheFormGroup.nombre.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.nombre.errors.required" class="msnError">Requerido</strong>
                                        <strong *ngIf="getTheFormGroup.nombre.errors.minlength" class="msnError">Invalido</strong>
                                        <strong *ngIf="getTheFormGroup.nombre.errors.maxlength" class="msnError">Invalido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Precio:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="plan.precio" [disabled]="mode==1"
                                        formControlName="precio">
                                    <div
                                        *ngIf="getTheFormGroup.precio.errors && (getTheFormGroup.precio.dirty || getTheFormGroup.precio.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.precio.errors.required" class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="mode != 1">
                                <div class="col-4">
                                    Maximo de beneficiarios:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="plan.max_beneficiarios" [disabled]="mode==1"
                                        formControlName="max_beneficiarios">
                                    <div
                                        *ngIf="getTheFormGroup.max_beneficiarios.errors && (getTheFormGroup.max_beneficiarios.dirty || getTheFormGroup.max_beneficiarios.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.max_beneficiarios.errors.required" class="msnError">Requerido</strong>    
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Duracion:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="plan.duracion" [disabled]="mode==1"
                                        formControlName="duracion">
                                    <div
                                        *ngIf="getTheFormGroup.duracion.errors && (getTheFormGroup.duracion.dirty || getTheFormGroup.duracion.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.duracion.errors.required" class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Descuento:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="plan.descuento" [disabled]="mode==1"
                                        formControlName="descuento">
                                    <div
                                        *ngIf="getTheFormGroup.descuento.errors && (getTheFormGroup.descuento.dirty || getTheFormGroup.descuento.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.descuento.errors.required" class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Precio final:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="plan.precio_final" [disabled]="mode==1"
                                        formControlName="precio_final">
                                    <div
                                        *ngIf="getTheFormGroup.precio_final.errors && (getTheFormGroup.precio_final.dirty || getTheFormGroup.precio_final.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.precio_final.errors.required" class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                </div>
                                <div class="col-8">
                                    <button *ngIf="mode==2" type="button" class="btn btn-primary btn-block" (click)="create()">Crear</button>
                                    <button *ngIf="mode==3" type="button" class="btn btn-primary btn-block" (click)="update()">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>