<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <!-- Aquí puedes agregar contenido adicional para la cabecera si lo necesitas -->
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Mensajes</h3>
                </div>
                <div class="card-body">
                    <div class="table-container">
                        <!-- Cuadro para mostrar los mensajes enviados -->
                        <div class="message-box" id="message-box">
                            <!-- Iterar sobre los mensajes y mostrar cada uno -->
                            <div *ngFor="let mensaje of mensajes" [ngClass]="{'message-right': mensaje.user_id === userId, 'message-left': mensaje.user_id !== userId}" class="message" (contextmenu)="showContextMenu($event, mensaje)">
                                <!-- Mostrar el nombre del usuario si está disponible, de lo contrario, mostrar el ID -->
                                <div class="user-name">{{ mensaje.user_name || mensaje.user_id }}</div>
                                <div class="content">{{ mensaje.contenido }}</div>
                                <div class="timestamp">{{ mensaje.created_at | date:'HH:mm' }}</div>
                                <!-- Mostrar botones de acción solo para los mensajes enviados por el usuario actual -->
                                <div *ngIf="mensaje.user_id === userId" class="action-buttons">
                                    <button class="edit-button" (click)="edit(mensaje)">
                                        <i class="fas fa-edit"></i> Editar
                                    </button>
                                    <button class="delete-button" (click)="delete(mensaje.id)">
                                        <i class="fas fa-trash"></i> Eliminar
                                    </button>
                                </div>  
                              </div>            
                        </div>
                        <!-- Formulario para enviar mensaje -->
                        <form [formGroup]="theFormGroup" (ngSubmit)="create()">
                            <div class="input-container">
                                <input type="text" formControlName="contenido" class="message-input" placeholder="Escribe tu mensaje aquí">
                                <button type="submit" class="send-button">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
