<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Mensajes
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <div class="table-container">
                            <!-- Cuadro para mostrar los mensajes enviados -->
                            <div class="message-box">
                                <div class="message">Mensaje 1</div>
                                <div class="message">Mensaje 2</div>
                                <div class="message">Mensaje 3</div>
                                <div class="message">Mensaje 4</div>
                                <div class="message">Mensaje 5</div>
                                <!-- Agrega más mensajes según sea necesario -->
                            </div>
                        
                            <!-- Input y botón para enviar mensaje -->
                            <div class="input-container">
                                <input type="text" class="message-input" placeholder="Escribe tu mensaje aquí">
                                <button class="send-button">Enviar</button>
                            </div>
                        </div>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
