<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Chats y Ejecuciones de Servicios -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Chats
                        <!-- Boton de crear al lado derecho -->
                        <button type="button" class="btn btn-primary float-right" (click)="create()">Crear</button>
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th> 
                                <th scope="col">Servicio ID</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Servicio</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let chat of chats; let i = index">
                                <tr>
                                    <td>{{ chat.id }}</td>
                                    <td>{{ chat.eservicio_id }}</td>
                                    <td>{{ ejecucionservicios[i]?.nombre_cliente }}</td>
                                    <td>{{ ejecucionservicios[i]?.nombre_servicio }}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" (click)="view(chat.id)" title="Ver"><i class="fas fa-eye"></i></button>
                                        <button type="button" class="btn btn-primary" (click)="update(chat.id)" title="Editar"><i class="fas fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger" (click)="delete(chat.id)" title="Eliminar"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
