<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode == 1">Vizualizar
                        <button type="button" class="btn btn-primary float-right" (click)="MostrarDifunto(ejecucion.id)"
                            *ngIf="mode==1">Ver beneficiarios
                        </button>
                        <button type="button" class="btn btn-primary float-right" (click)="MostrarServicio(ejecucion.id)"
                            *ngIf="mode==1">Ver Servicio
                        </button>
                    </h1>
                    <h1 *ngIf="mode == 2">Crear Ejecucion</h1>
                    <h1 *ngIf="mode == 3">actualizar</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row" *ngIf="mode==3 || mode==1">
                                <div class="col-4">
                                    id:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="ejecucion.id" formControlName="id" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Difunto:
                                </div>
                                <div class="col-8">
                                    <select class="form-control" [(ngModel)]="ejecucion.difunto_id" [disabled]="mode == 1" formControlName="difunto_id">
                                        <option *ngFor="let opt of beneficiarios " [value]="opt.id"> Nombre:{{ opt.nombre }}</option>
                                    </select>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-4">
                                </div>
                                <div class="col-8">
                                    <button *ngIf="mode==2" type="button" class="btn btn-primary btn-block" (click)="create()">Crear</button>
                                    <button *ngIf="mode==3" type="button" class="btn btn-primary btn-block" (click)="update()">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>