<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode == 1">Vizualizar</h1>
                    <h1 *ngIf="mode == 2">Crear</h1>
                    <h1 *ngIf="mode == 3">Actualizar</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row" *ngIf="mode==3 || mode==1">
                                <div class="col-4">
                                    ID:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="planxservicio.id" formControlName="id" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Servicio:
                                </div>
                                <div class="col-8">
                                    <select class="form-control" [(ngModel)]="planxservicio.servicio.id" [disabled]="mode == 1" formControlName="servicio_id">
                                        <option value=>SELECCIONE UNA OPCIÓN</option>
                                        <option *ngFor="let option of servicios" [value]="option.id"> id:{{ option.id }} - Tipo: {{option.nombre}} - Nombre: {{option.descripcion}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Plan:
                                </div>
                                <div class="col-8">
                                    <select class="form-control" [(ngModel)]="planxservicio.plan.id" [disabled]="mode == 1" formControlName="plan_id">
                                        <option value=>SELECCIONE UNA OPCIÓN</option>
                                        <option *ngFor="let option of planes" [value]="option.id"> id: {{ option.id }} - Nombre: {{option.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-8">
                                    <button *ngIf="mode==2" type="button" class="btn btn-primary btn-block" (click)="create()">Crear</button>
                                    <button *ngIf="mode==3" type="button" class="btn btn-primary btn-block" (click)="update()">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
