<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode == 1">Vizualizar</h1>
                    <h1 *ngIf="mode == 2">Crear</h1>
                    <h1 *ngIf="mode == 3">actualizar</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <!-- <div class="row" *ngIf="mode==2">
                                <div class="col-4">
                                    Id:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="suscripcion.id" formControlName="id" disabled>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-4">
                                    Plan:
                                </div>
                                <div class="col-8 ">
                                    <select class="form-control" [(ngModel)]="suscripcion.plan.id" formControlName="plan_id">
                                        <option *ngFor="let option of planes" [value]="option.id">
                                            Id: {{option.id}} - 
                                            Nombre: {{option.nombre}}
                                        </option>
                                    </select>
                                </div>
                                <!-- <div class="col-8 " *ngIf="mode == 1">
                                    <input type="text" class="form-control" [(ngModel)]="suscripcion.plan.nombre" [disabled]="mode == 1"
                                        formControlName="plan">
                                    <div
                                        *ngIf="getTheFormGroup.plan_id.errors && (getTheFormGroup.plan_id.dirty || getTheFormGroup.plan_id.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.plan_id.errors.required" class="msnError">Requerido</strong>
                                        <strong *ngIf="getTheFormGroup.plan_id.errors.minlength" class="msnError">Invalido</strong>
                                        <strong *ngIf="getTheFormGroup.plan_id.errors.maxlength" class="msnError">Invalido</strong>
                                    </div>
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Cliente:
                                </div>
                                <div class="col-8" *ngIf="mode == 2">
                                    <select class="form-control" [(ngModel)]="suscripcion.cliente.id" formControlName="cliente_id">
                                        <option *ngFor="let option of titulares" [value]="option.id">
                                            Id: {{option.id}} -
                                            Nombre: {{option.nombre}} {{option.apellido}} -
                                            Cedula: {{option.cedula}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-8" *ngIf="mode == 1 || mode == 3">
                                    <select class="form-control" [(ngModel)]="suscripcion.cliente.id" formControlName="cliente_id">
                                        <option *ngIf="suscripcion.cliente" [value]="suscripcion.cliente.id">
                                            Id: {{suscripcion.cliente.id}} -
                                            Nombre: {{suscripcion.cliente.nombre}}
                                        </option>
                                        <option *ngFor="let option of titulares" [value]="option.id">
                                            Id: {{option.id}} -
                                            Nombre: {{option.nombre}} {{option.apellido}} -
                                            Cedula: {{option.cedula}}
                                        </option>
                                    </select>
                                </div>   
                                <!-- <div class="col-8 " *ngIf="mode == 1">
                                    <input type="text" class="form-control" [(ngModel)]="suscripcion.cliente.nombre" [disabled]="mode == 1"
                                        formControlName="cliente">
                                    <div
                                        *ngIf="getTheFormGroup.plan_id.errors && (getTheFormGroup.plan_id.dirty || getTheFormGroup.plan_id.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.plan_id.errors.required" class="msnError">Requerido</strong>
                                        <strong *ngIf="getTheFormGroup.plan_id.errors.minlength" class="msnError">Invalido</strong>
                                        <strong *ngIf="getTheFormGroup.plan_id.errors.maxlength" class="msnError">Invalido</strong>
                                    </div>
                                </div> -->
                            </div>
                            
                            <div class="row">
                                <div class="col-4">
                                </div>
                                <div class="col-8">
                                    <button *ngIf="mode==2" type="button" class="btn btn-primary btn-block" (click)="create()">Crear</button>
                                    <button *ngIf="mode==3" type="button" class="btn btn-primary btn-block" (click)="update()">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>