<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h1 *ngIf="mode == 1">Vizualizar</h1>
                    <h1 *ngIf="mode == 2">Crear</h1>
                    <h1 *ngIf="mode == 3">actualizar</h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <form [formGroup]="theFormGroup">
                            <div class="row" *ngIf="mode==3 || mode==1">
                                <div class="col-4">
                                    Id:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" [(ngModel)]="pago.id" formControlName="id" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Monto:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="pago.monto" [disabled]="mode == 1"
                                        formControlName="monto">
                                    <div
                                        *ngIf="getTheFormGroup.monto.errors && (getTheFormGroup.monto.dirty || getTheFormGroup.monto.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.monto.errors.required" class="msnError">Requerido</strong>
                                        <strong *ngIf="getTheFormGroup.monto.errors.minlength" class="msnError">Invalido</strong>
                                        <strong *ngIf="getTheFormGroup.monto.errors.maxlength" class="msnError">Invalido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Fecha:
                                </div>
                                <div class="col-8">
                                    <input type="date" class="form-control" [(ngModel)]="pago.fecha" [disabled]="mode==1"
                                        formControlName="fecha">
                                    <div
                                        *ngIf="getTheFormGroup.fecha.errors && (getTheFormGroup.fecha.dirty || getTheFormGroup.fecha.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.fecha.errors.required" class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    Suscripcion:
                                </div>
                                <div class="col-8">
                                    <input type="number" class="form-control" [(ngModel)]="pago.suscripcion_id" [disabled]="mode==1"
                                        formControlName="suscripcion_id">
                                    <div
                                        *ngIf="getTheFormGroup.suscripcion_id.errors && (getTheFormGroup.suscripcion_id.dirty || getTheFormGroup.suscripcion_id.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.suscripcion_id.errors.required" class="msnError">Requerido</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                </div>
                                <div class="col-8">
                                    <button *ngIf="mode==2" type="button" class="btn btn-primary btn-block" (click)="create()">Crear</button>
                                    <button *ngIf="mode==3" type="button" class="btn btn-primary btn-block" (click)="update()">Actualizar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>