<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Pagos
                        <!-- Boton de crear al lado derecho -->
                        <button type="button" class="btn btn-primary float-right" (click)="create()">Crear</button>
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col-1">ID</th>
                                <th scope="col-2">Monto</th>
                                <th scope="col-3">Fecha</th>
                                <th scope="col-4">Suscripcion</th>
                                <th scope="col-5">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let actual of pagos">
                                <td>{{actual.id}}</td>
                                <td>{{actual.monto}}</td>                          
                                <td>{{actual.fecha}}</td>
                                <td>{{actual.suscripcion_id}}</td>
                                <td>
                                    <button type="button" class="btn btn-warning" (click)="view(actual.id)">Ver</button>
                                    <button type="button" class="btn btn-primary" (click)="update(actual.id)">Editar</button>
                                    <button type="button" class="btn btn-danger" (click)="delete(actual.id)">Eliminar</button>
                                </td>
                                <button type="button" class="btn btn-danger">
                                    <script src='https://checkout.epayco.co/checkout.js'
                                        data-epayco-key='3fd161e9c66fd095e5e9197ff97fb90b' 
                                        class='epayco-button' 
                                        data-epayco-amount='100000' 
                                        data-epayco-tax='0.00'  
                                        data-epayco-tax-ico='0.00'               
                                        data-epayco-tax-base='100000'
                                        data-epayco-name='Servicio1' 
                                        data-epayco-description='Servicio1' 
                                        data-epayco-currency='cop'    
                                        data-epayco-country='CO' 
                                        data-epayco-test='true' 
                                        data-epayco-button='https://multimedia.epayco.co/dashboard/btns/btn3.png'> 
                                    </script> 
                                </button>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>